.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
docs
inst/doc
/doc/
/Meta/
summary_report.html
cache/
/*.tar.gz
*.Rcheck/
node_modules/
browser-acceptance/*.html
browser-acceptance/*.png
browser-acceptance/*.log
